/* WRAPPER 70% */
.overlay-hero {
  width: 70%;
  margin: 0 auto;
}

/* HERO */
.main-section-hero {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

/* VIDEO FIX + RESPONSIVE */
.background-video {
  position: fixed;    
  top: 0;
  left: 0;
  width: 100vw;        
  height: 100vh;        
  object-fit: cover;    
  z-index: -1;
}

/* pentru con»õinut peste video */
.overlay-hero,
.main-section-hero * {
  position: relative;
  z-index: 1;
}

/* Adaptivitate pentru mobile */
@media (max-width: 768px) {
  .overlay-hero {
    width: 95%;
  }

  .main-section-hero {
    height: 70vh;
  }

  .background-video {
    height: 100vh;
    width: 100vw;
  }
}
